<ion-view view-title="新增客户信息" name="custForPB">
    <jn-back jn-state="myCustomer"></jn-back>
     <ion-nav-buttons side="secondary">
        <button
             class="button button-clear"
             ng-click="ctrl.reset()"
         >清空</button>
    </ion-nav-buttons>
    <ion-content>
        <form name="ctrl.addForm" novalidate>
            <ion-list>
             <ion-item>
                <div >联系电话</div>
                <div >详细地址</div>
                <div >是否是默认值</div>
            </ion-item>
             <ion-item ng-repeat="e in listCtrl.list.items" ng-click="listCtrl.toDetail(e.custNo)">
                <div class="name">{{ e.custName }}</div>
                <div class="id">{{ e.custName }}</div>
                <div class="manager">{{ e.custManagerName }}</div>
            </ion-item>
            
                <ion-item class="item-input">
                    <span class="input-label">联系电话</span>
                    <input
                        type="text"
                        name="mobile"
                        ng-model="ctrl.form.mobile"
                        placeholder="请输入客户联系电话" 
                        ng-required="true"
                       />
                </ion-item>
                <ion-item class="item-input">
                    <span class="input-label">详细地址</span>
                    <input
                        type="text"
                        name="address"
                        ng-model="ctrl.form.address"
                        placeholder="请输入客户详细地址" 
                        ng-required="true"
                       />
                </ion-item>
            </ion-list>
            <div class="padding">
    		<button class="button button-block  button-balanced" ng-click="ctrl.submit()">
				  保存
			</button> 
		</div>
        </form>
    </ion-content>
</ion-view>
