<ion-view view-title="实际控制人" id="custActualList">
    <ion-nav-buttons side="left">
        <jn-back></jn-back>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <button ng-if="isDetail=='0'"
                class="button button-clear icon ion-navicon"
                ng-click="ctrl.showTitleMenu()">
        </button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true">
        <ion-list ng-if="0 < ctrl.list.total">
            <ion-item ng-repeat="r in ctrl.list.items" ng-click="ctrl.toDetail(r)">
                <div class="name jn-item-title" style="margin-top: 12px;">{{ r.custName }}</div>
                <div class="sharholder">
                    <span class="content" ng-if=" r.paperNo">{{ r.paperNo }}</span>
			        <span class="content" ng-if=" r.phoneNo">
		            	<jn-tel-no style="left: 10%;"
                                   num="{{ r.phoneNo }}"></jn-tel-no>
	            	</span>
                </div>
                <div class="address jn-item-title" style="margin-top: 2px;font-size: 14px;" ng-if="r.custAddr">
                    {{r.custAddr}}
                </div>
                <ion-option-button ng-if="isDetail=='0'" class="button-assertive"
                                   ng-click="ctrl.deleteItem($event,r)">删除
                </ion-option-button>
            </ion-item>
        </ion-list>
        <div ng-if="0 === ctrl.list.total" class="no_record">暂无记录</div>
        <button ng-click="ctrl.more()"
                ng-if="ctrl.list.items.length < ctrl.list.total"
                class="button button-clear button-full button-positive">点击加载更多
        </button>
    </ion-content>
</ion-view>
