<ion-view view-title="控制人新增（个人）" id="custActualPerAdd">
    <ion-nav-buttons side="left">
        <jn-back></jn-back>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <button class="button button-clear "
                ng-click="ctrl.submit()">保存
        </button>
    </ion-nav-buttons>

    <style>
        .show_radio {
            border: 0px;
            max-width: 110px;
            line-height: 10px;
        }


    </style>
    <ion-content>
        <form name="ctrl.editForm" novalidate jn-edit-form>
            <input type="hidden" name="pCustNo" ng-model="ctrl.form.pCustNo"/>
            <input type="hidden" name="custType" ng-model="ctrl.form.custType"/>
            <ion-item class="item-input">
                <span class="input-label required">姓名</span>
                <input
                        type="text"
                        name="custName"
                        ng-model="ctrl.form.custName"
                        required
                        jn-input-length="60"
                        ng-disabled="ctrl.form.custNameDisabled"
                        placeholder="请输入姓名"/>
            </ion-item>

            <!--<ion-item class="item-input">-->
            <!--<span class="input-label required">姓名</span>-->
            <!--<jn-select-customer-->
            <!--name="custName"-->
            <!--cust-no="ctrl.form.custNo"-->
            <!--cust-type="0"-->
            <!--ng-model="ctrl.form.custName"-->
            <!--ng-readonly="ctrl.form.custNo"-->
            <!--on-select="ctrl.onSelectCustomer"-->
            <!--required-->
            <!--placeholder="请输入姓名"-->
            <!--&gt;</jn-select-customer>-->
            <!--</ion-item>-->


            <ion-item class="item-input">
                <span class="input-label">身份证号</span>
                <input
                        style="width:85%"
                        type="text"
                        name="paperNo"
                        ng-model="ctrl.form.paperNo"
                        ng-change="ctrl.onChangeId(ctrl.form.paperNo)"
                        ng-disabled="ctrl.form.custNameDisabled"
                        jn-id-no
                        placeholder="身份证号"/>
            </ion-item>
            <ion-item class='item-input'>
                <span class='input-label'>性别</span>
                <ion-radio ng-disabled="ctrl.form.custNameDisabled" class="show_radio" name='sex'
                           ng-model='ctrl.form.sex' ng-checked="ctrl.form.sex"
                           value='M' checked>男
                </ion-radio>
                <ion-radio ng-disabled="ctrl.form.custNameDisabled" class="show_radio" name='sex'
                           ng-model='ctrl.form.sex' ng-checked="ctrl.form.sex"
                           value='F'>女
                </ion-radio>
            </ion-item>

            <ion-item class="item-input">
                <span class="input-label">出生日期</span>
                <input
                        format-date
                        type="date"
                        name="birthday"
                        ng-disabled="ctrl.form.custNameDisabled"
                        ng-model="ctrl.form.birthday"
                        placeholder="请输入出生日期"
                />
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">年龄</span>
                <input
                        readonly
                        type="number"
                        name="age"
                        ng-model="ctrl.form.age"
                        min="1"
                        max="100"
                        placeholder="请输入年龄"
                />
            </ion-item>

            <ion-item class="item-input item-select">
                <span class="input-label">婚姻状况</span>
                <select
                        name="marryStatus"
                        ng-model="ctrl.form.marryStatus"
                        jn-options="5027"
                >
                </select>
            </ion-item>

            <ion-item class="item-input item-select">
                <span class="input-label">教育水平</span>
                <select
                        name="eduLevel"
                        ng-model="ctrl.form.eduLevel"
                        jn-options="5047"
                ></select>
            </ion-item>

            <ion-item class="item-input">
                <span class="input-label">手机</span>
                <input
                        type="tel"
                        name="mobPhone"
                        ng-model="ctrl.form.mobPhone"
                        jn-mobile
                        placeholder="请输入手机"/>
            </ion-item>

            <ion-item class="item-input">
                <span class="input-label">固定电话</span>
                <input
                        type="text"
                        data-limit="[\d-]+"
                        name="fixPhone"
                        ng-model="ctrl.form.fixPhone "
                        jn-phone
                        placeholder="请输入固定电话"/>
            </ion-item>

            <ion-item class="item-input item-select" style="white-space: normal;border: 0px;">
                <span class="input-label">居住情况</span>

                <select
                        name="housingStatus" style="border: 0px"
                        ng-model="ctrl.form.housingStatus">
                    <option value="">-- 请选择 --</option>
                    <option value="1">自有</option>
                    <option value="2">抵押</option>
                    <option value="3">租赁</option>
                    <option value="4">其他</option>
                </select>
            </ion-item>
            <ion-item class="item-input" ng-if="ctrl.form.housingStatus=='4'">
                <span class="input-label"></span>
                <input
                        type="text"
                        name="housingDesc"
                        ng-model="ctrl.form.housingDesc "
                        placeholder="请输入其他居住情况"/>
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">家庭地址</span>
                <input
                        type="text"
                        name="custAddr"
                        jn-input-length="200"
                        ng-model="ctrl.form.custAddr"
                        placeholder="请输入家庭地址"/>
            </ion-item>
        </form>
    </ion-content>
</ion-view>
