<style type="text/css">
#reserveCustomerAdd .show_radio {
	max-width: 110px;
	line-height: 10px;
	border-width: 0px;
}

#syxz label .item-content {
	white-space: normal;
}

#reserveCustomerAdd .quick_tool_bar {
	height: 40px;
	line-height: 38px;
	vertical-align: middle;;
}

#reserveCustomerAdd .quick_tool {
	float: left;
	width: 50%;
	text-align: center;
}

#reserveCustomerAdd .quick_tool_100 {
	float: right;
	width: 100%;
	text-align: center;
}

#reserveCustomerAdd .quick_tool:FIRST-CHILD {
	border-right: 1px solid #eee;
}

#reserveCustomerAdd .quick_tool a {
	padding: 10px 20px 10px 20px;
	font-size: 14px;
}

#reserveCustomerAdd .quick_tool_100 a {
	padding: 10px 20px 10px 20px;
	font-size: 14px;
}

#reserveCustomerAdd .quick_tool .idcard:BEFORE {
	content: '\e635';
	color: #007aff;
	font-size: 20px;
	margin-right: 5px;
	font-family: 'iconfont';
	vertical-align: middle;
}

#reserveCustomerAdd .quick_tool .buscard:BEFORE {
	content: '\e634';
	color: #007aff;
	font-size: 20px;
	margin-right: 5px;
	font-family: 'iconfont';
	vertical-align: middle;
}

#reserveCustomerAdd .quick_tool_100 .buscard:BEFORE {
	content: '\e634';
	color: #007aff;
	font-size: 20px;
	margin-right: 5px;
	font-family: 'iconfont';
	vertical-align: middle;
}

#reserveCustomerAdd .title_divider {
	line-height: 18px;
	padding: 0px;
	margin-top: 18px;
}
</style>
<ion-view view-title="潜在客户新增" id="reserveCustomerAdd">
    <ion-nav-buttons side="left">
        <jn-back></jn-back>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button
             class="button button-clear"
             ng-click="save();"
             ng-if=' it.status!="1" '
         >保存</button>
    </ion-nav-buttons>
    <ion-content>
        <form name="Ctrl.myForm" jn-edit-form>
            <ion-list >
                <ion-item class='title_divider'>
                    <div class="quick_tool_bar">
                        <div class="quick_tool" ng-if='it.custType=="0"'>
                            <a class="idcard" ng-click="scanIDCard()">扫描身份证</a>
                        </div><!--
                     --><div class="{{it.custType=='0'?'quick_tool':'quick_tool_100'}}" >
                            <a class="buscard" ng-click="scanVCard()">扫描名片</a>
                        </div>
                    </div>
                </ion-item>
                <ion-item class='item-input'>
                    <span class='input-label required'>接触日期</span>
                    <input type='date' ng-model='it.fstContactDt' required name='fstContactDt'/>
                </ion-item>
                <ion-item class='item-input item-select'>
                    <span class='input-label required'>客户类别</span>
                    <select required ng-model='it.custType' name='custType' >
	                    <option value='0'>个人</option>
	                    <option value='1'>企业</option>
                    </select>
                </ion-item>
                <ion-item class='item-input' ng-if='it.custType==0'>
                    <span class='input-label required'>客户名称</span>
                    <input type='text'  ng-model='it.custName' required name='custName' jn-input-length="60" placeholder='请输入客户名称' />
                </ion-item>
                <ion-item class='item-input' ng-if='it.custType==1'>
                    <span class='input-label required'>企业名称</span>
                    <input type='text'  ng-model='it.cCustName' required name='cCustName' jn-input-length="60" placeholder='请输入企业名称' />
                </ion-item>
                <ion-item class='item-input' ng-if='it.custType==1'>
                    <span class='input-label required'>联系人</span>
                    <input type='text'  ng-model='it.contactName' required name='contactName' jn-input-length="60" placeholder='请输入联系人名称' />
                </ion-item>
                <ion-item class='item item-input'>
                   <span class='input-label required'>联系电话</span>
                   <input type='tel' ng-model='it.phoneNo' jn-mobile required name='phoneNo' placeholder='请输入联系电话' />
                </ion-item>
                
                 <!-- <ion-toggle class='pItem'   ng-model= 'checked["xxqd"]' ng-checked='checked["xxqd"]'>贷款意向</ion-toggle> -->
                 <!--  信息渠道  -->
                 <ion-item ng-click="toggleItem('xxqd')" ng-class="{false:'item-divider change',true:' item-divider'}[checked['xxqd']]"   ng-model= 'checked["xxqd"]' ng-checked='checked["xxqd"]' >信息渠道
                    <i ng-class="{true:' icon ion-ios-arrow-up arrow-size',false:' icon ion-ios-arrow-down arrow-size'}[checked['xxqd']]"></i>
                 </ion-item>
                <ion-item class='item-input item-select' ng-show=' checked["xxqd"]'>
                   <span class='input-label required'>信息渠道</span>
                   <select required ng-model='it.adTypeId' name='adTypeId' jn-options='895'></select>
                </ion-item>
                <ion-item class='item-input' ng-show='checked["xxqd"]'>
                   <span class='input-label'>推荐人 </span>
                   <input type="text" ng-model='it.referrer' name='referrer' placeholder="请输入推荐人名称" jn-input-length="100" />
                </ion-item>
                
                 <!--  判定  -->
                <ion-item ng-click="toggleItem('pd')" ng-class="{false:'item-divider change',true:' item-divider'}[checked['pd']]" ng-model= 'checked["pd"]' ng-checked='checked["gsxx"]' >判定
                     <i ng-class="{true:' icon ion-ios-arrow-up arrow-size',false:' icon ion-ios-arrow-down arrow-size'}[checked['pd']]"></i>
                </ion-item>
                <ion-item class='item-input item-select' ng-show='checked["pd"]'>
                      <span class='input-label required'>判定结果</span>
                      <select required jn-options='889' ng-model='it.fstContactIf'  name='fstContactIf' ></select>
                </ion-item>
                <ion-item class='item-input' ng-show='checked["pd"]'>
                      <span class='input-label'>判定原因</span>
                      <textarea  style="resize: none;width: initial;margin-right:24px;" rows='4' cols="32" ng-model='it.fstCausation'  name='fstCausation' jn-input-length="500" ></textarea>
                      </div>
                </ion-item>
                
                <!-- 公司信息 -->
               <!--  <ion-item ng-click="toggleItem('gsxx')" ng-class="{false:'item-divider change',true:' item-divider'}[checked['gsxx']]" ng-model= 'checked["gsxx"]' ng-checked='checked["gsxx"]'>公司信息
                     <i  ng-class="{true:' icon ion-ios-arrow-up arrow-size',false:' icon ion-ios-arrow-down arrow-size'}[checked['gsxx']]"></i>
                </ion-item>
                <ion-item class='item-input item-select' ng-show='checked["gsxx"]'>
                    <span class="input-label">详细地址 </span>
                    <input type='text'  ng-model='it.custAddr' name='custAddr' jn-input-length="100" placeholder="请输入详细地址"/>
                </ion-item>
                <ion-item class="item item-input" ng-show='checked["gsxx"]'>
                        <span class="input-label">部门</span>
                        <input type="text"  ng-model='it.dept' name='dept' jn-input-length="100" placeholder="请输入部门名称"  />
                </ion-item>
                <ion-item class="item item-input" ng-show='checked["gsxx"]'>
                        <span class="input-label">头衔</span>
                        <input type="text"  ng-model='it.title' name='title' jn-input-length="100" placeholder="请输入头衔"  />
                </ion-item> -->
                <!-- 其他信息 -->
               <!--  <ion-item  ng-if='"0" == it.custType' ng-click="toggleItem('qtxx')" ng-class="{false:'item-divider change',true:' item-divider'}[checked['qtxx']]" ng-model= 'checked["qtxx"]' ng-checked='checked["qtxx"]'>其他信息
                     <i  ng-class="{true:' icon ion-ios-arrow-up arrow-size',false:' icon ion-ios-arrow-down arrow-size'}[checked['qtxx']]"></i>
                </ion-item>
                <ion-item  ng-if='"0" == it.custType' class='item-input item-select' ng-show='checked["qtxx"]'>
                        <span class="input-label">证件号码 </span>
                        <input type="text"  ng-model='it.idcard' name='idcard' jn-input-length="100" placeholder="请输入证件号码 "  />
                </ion-item>
                <ion-item  ng-if='"0" == it.custType' class="item-input item-select" ng-show='checked["qtxx"]'>
                        <span class="input-label">性别</span>
                        <select jn-options='306' ng-model='it.sex' name='sex' value=''></select>
                </ion-item>
                <ion-item  ng-if='"0" == it.custType' class="item item-input" ng-show='checked["qtxx"]'>
                        <span class="input-label">名族</span>
                        <input type="text"  ng-model='it.nation' name='nation' jn-input-length="16" placeholder="请输入推荐人信息"  />
                </ion-item> -->
            </ion-list>
        </form>
    </ion-content>
</ion-view>
