<ion-popover-view class="jn-popup-menu">
      <div class="list">
             <a class="item item-icon-left" ng-click='colsePopover($event)' ui-sref="reserveCustomerAdd">
            	<i class="icon ion-plus-round positive"></i>
             	新增
            </a>
            <a class="item item-icon-left" ng-click='colsePopover($event)' ui-sref="reserveCustomerQuery">
             <i class="icon ion-ios-search positive"></i>
             	 查询
            </a>
         </div>
</ion-popover-view>
