<ion-modal-view id="currloanFormModel">
    <div class="bar bar-header bar-positive">
        <button class="button button-clear"  ng-if="!data.isReadOnly" ng-click="extGuarModalConf.closeModal();">取消</button>
        <button class="button button-clear ion-chevron-left jnBack" 
			ng-if="data.isReadOnly" ng-click="extGuarModalConf.closeModal();">返回</button>
        <h1 class="title">对外担保</h1>
         <div class="buttons buttons-right">
            <button class="button button-clear"
            		ng-if="!data.isReadOnly"
                    ng-click="extGuarModalConf.save();">
                  	  保存
            </button>
        </div>
    </div>
    <ion-content class="has-header" has-bouncing="false" scroll="true">
      <jn-form id="extGuarForm" validator="validateForm" ng-if="!data.isReadOnly">
        	<ion-item class="item-input ">
        		<span class="input-label required">担保对象</span>
            	<input
                    type="text"
                    ng-model="extGuarModalConf.form.lender"
                    jn-validate-name="担保对象"
                    jn-validate="required and maxlen(30)"
                    placeholder="请输入担保对象"
                />
        	</ion-item>
        	<ion-item class="item-input ">
        		<span class="input-label required">担保金额（元）</span>
            	<input
                    type="number"
                    ng-model="extGuarModalConf.form.gurAmt"
                    jn-validate-name="担保金额"
                    jn-validate="required and maxlen(16) and (eq(0) or gt(0)) and lt(100000000000)"
                    placeholder="请输入担保金额"
                />
        	</ion-item>
 			<ion-item class="item-input ">
           		<span class="input-label ">发放日期</span>
           		<input
                    type="date"
                    ng-model="extGuarModalConf.form.lendDt"
                    format-date
                    name="lendDt"
                />
           	</ion-item>
           	<ion-item class="item-input ">
        		<span class="input-label">贷款金额（元）</span>
            	<input
                    type="number"
                    ng-model="extGuarModalConf.form.amt"
                    jn-validate-name="贷款金额"
                    jn-validate="maxlen(16) and gte(0) and lte(100000000000)"
                    placeholder="请输入贷款金额"
                />
        	</ion-item>
        	<ion-item class="item-input">
        		<span class="input-label ">期限（月）</span>
            	<input
                    type="number"
                    ng-model="extGuarModalConf.form.perd"
                    jn-validate-name="期限"
                    jn-validate="int and gte(0) and lte(999)"
                    pattern="[0-9]*"
                    placeholder="请输入期限"
                />
        	</ion-item>
        	
        	<ion-item class="item-input item-select">
        		<span class="input-label ">保证方式</span>
        		<select
                    ng-model="extGuarModalConf.form.gurTyp"
                    jn-options='6000'
                ></select>
        	</ion-item>
			<ion-item class="item-input ">
        		<span class="input-label ">余额（元）</span>
            	<input
                    type="number"
                    ng-model="extGuarModalConf.form.bal"
                    jn-validate-name="余额"
                    jn-validate="maxlen(16) and gte(0) and lte(100000000000)"
                    placeholder="请输入余额"
                />
        	</ion-item>
			<ion-item class="item-input">
        		<span class="input-label">用途</span>
            	<input
                    type="text"
                    ng-model="extGuarModalConf.form.purpose"
                    jn-validate-name="用途"
                    jn-validate="maxlen(30)"
                    placeholder="请输入用途"
                />
        	</ion-item>
			<ion-item class="item-divider">逾期信息及原因</ion-item>
            <ion-item class="item-input">
				<span class="input-label" style="display: none">逾期信息及原因</span>
				<textarea
                    rows="4"
                    cols="30"
                    ng-model="extGuarModalConf.form.overdueDesc"
                    jn-validate-name="逾期信息及原因"
                    jn-validate="maxlen(1000)"
                    placeholder="请在此处填写逾期信息及原因"
                ></textarea> 
			</ion-item>
        </jn-form>
        <ion-list ng-if="data.isReadOnly">
        	<ion-item>
           		<span>担保对象</span>
           		<span class="item-note" style="max-width:60%">{{extGuarModalConf.form.lender}}</span>
            </ion-item>
            <ion-item>
           		<span>担保金额（元）</span>
           		<span class="item-note" style="max-width:60%">{{extGuarModalConf.form.gurAmt | jnCurrency}}</span>
            </ion-item>
            <ion-item>
           		<span>发放日期</span>
           		<span class="item-note" style="max-width:60%">{{extGuarModalConf.form.lendDt | jnDate}}</span>
            </ion-item>
             <ion-item>
           		<span>贷款金额（元）</span>
           		<span class="item-note" style="max-width:60%">{{extGuarModalConf.form.amt | jnCurrency}}</span>
            </ion-item>
            <ion-item>
           		<span>期限（月）</span>
           		<span class="item-note" style="max-width:60%">{{extGuarModalConf.form.perd }}</span>
            </ion-item>
            <ion-item>
           		<span>保证方式</span>
           		<span class="item-note" style="max-width:60%">{{extGuarModalConf.form.gurTyp | jnConstant :6000}}</span>
            </ion-item>
            <ion-item>
           		<span>余额（元）</span>
           		<span class="item-note" style="max-width:60%">{{extGuarModalConf.form.bal | jnCurrency}}</span>
            </ion-item>
            <ion-item>
           		<span>用途</span>
           		<span class="item-note" style="max-width:60%">{{extGuarModalConf.form.purpose }}</span>
            </ion-item>
            <ion-item class="item-divider">逾期信息及原因</ion-item>
            <ion-item style="min-height: 80px;">
				<span style="text-overflow: initial;white-space: normal;color: #aaa;">{{extGuarModalConf.form.overdueDesc}}</span>
			</ion-item>
        </ion-list>
 </ion-content>
</ion-modal-view>
