<div ng-show="addRelatedPsnCtrl.checked.pBase && addRelatedPsnCtrl.form.custType == '1'">
    <form name="addRelatedPsnCtrl.cpyVM.companyInfoForm" novalidate>
        <ion-item class="item-input">
            <span class="input-label jn-input-required">企业名称</span>
            <input ion-autocomplete
                   ng-class="{'ion-autocomplete' : !addRelatedPsnCtrl.isCustNameDisabled}"
                   ng-disabled="addRelatedPsnCtrl.isCustNameDisabled"
                   type="text"
                   name="custName"
                   readonly="readonly"
                   autocomplete="off"
                   placeholder="请输入企业名称"
                   title-label="编辑企业名称"
                   ng-model="addRelatedPsnCtrl.cpyVM.form.custName"
                   component-id="addRelatedPsnCtrl-cpyCustName"
                   items-method="addRelatedPsnCtrl.autoDomClick(query, componentId)"
                   item-view-value-key="custName"
                   cust-type="custType"
                   cust-name="custName"
                   phone-no="phoneNo"
                   card-no="cardNo"
                   cust-no="custNo"
                   more-record="moreRecord"
                   confirm-button-clicked-method="addRelatedPsnCtrl.confirmClick(callback)"
                   more-record-button-clicked-method="addRelatedPsnCtrl.autoDomClick(query, componentId, isFetchMore)"
                   jn-input-length="60"
                   required/>
        </ion-item>
        <ion-item class="item-input">
            <span class="input-label">三证合一</span>
            <ion-radio class="jn-item-radio"
                       name="cardMerge"
                       ng-model='addRelatedPsnCtrl.cpyVM.form.cardMerge'
                       ng-checked="addRelatedPsnCtrl.cpyVM.form.cardMerge == N"
                       ng-disabled="addRelatedPsnCtrl.isCardMergeDisabled"
                       ng-click="addRelatedPsnCtrl.cardMergeClick(addRelatedPsnCtrl.cpyVM.form.cardMerge)"
                       value='N'>否
            </ion-radio>
            <ion-radio class="jn-item-radio"
                       name="cardMerge"
                       ng-model='addRelatedPsnCtrl.cpyVM.form.cardMerge'
                       ng-checked="addRelatedPsnCtrl.cpyVM.form.cardMerge == Y"
                       ng-disabled="addRelatedPsnCtrl.isCardMergeDisabled"
                       ng-click="addRelatedPsnCtrl.cardMergeClick(addRelatedPsnCtrl.cpyVM.form.cardMerge)"
                       value='Y'>是
            </ion-radio>
        </ion-item>
        <ion-item class="item-input" ng-if="addRelatedPsnCtrl.cpyVM.form.cardMerge == 'N'">
            <span class="input-label">营业执照</span>
            <input ion-autocomplete
                   ng-class="{'ion-autocomplete' : !addRelatedPsnCtrl.isIdCardDisabled}"
                   ng-disabled="addRelatedPsnCtrl.isIdCardDisabled"
                   type="text"
                   name="regNo"
                   readonly="readonly"
                   autocomplete="off"
                   placeholder="请输入营业执照号码"
                   title-label="编辑营业执照号码"
                   ng-model="addRelatedPsnCtrl.cpyVM.form.regNo"
                   component-id="addRelatedPsnCtrl-cpyRegNo"
                   items-method="addRelatedPsnCtrl.autoDomClick(query, componentId)"
                   item-view-value-key="cardNo"
                   cust-type="custType"
                   cust-name="custName"
                   phone-no="phoneNo"
                   card-no="cardNo"
                   cust-no="custNo"
                   more-record="moreRecord"
                   confirm-button-clicked-method="addRelatedPsnCtrl.confirmClick(callback)"
                   more-record-button-clicked-method="addRelatedPsnCtrl.autoDomClick(query, componentId, isFetchMore)"
                   jn-reg-no/>
        </ion-item>
        <ion-item class="item-input" ng-if="addRelatedPsnCtrl.cpyVM.form.cardMerge == 'N'">
            <span class="input-label">组织机构代码</span>
            <input type="text"
                   placeholder="请输入组织机构代码"
                   name="liceNo"
                   ng-model="addRelatedPsnCtrl.cpyVM.form.liceNo"
                   ng-readonly="addRelatedPsnCtrl.isReadOnly"
                   jn-org-no/>
        </ion-item>
        <ion-item class="item-input" ng-if="addRelatedPsnCtrl.cpyVM.form.cardMerge == 'Y'">
            <span class="input-label">统一信用代码</span>
            <input ion-autocomplete
                   ng-class="{'ion-autocomplete' : !addRelatedPsnCtrl.isLiceNoDisabled}"
                   ng-disabled="addRelatedPsnCtrl.isLiceNoDisabled"
                   type="text"
                   name="liceNo"
                   readonly="readonly"
                   autocomplete="off"
                   placeholder="请输入统一信用代码"
                   title-label="编辑统一信用代码"
                   ng-model="addRelatedPsnCtrl.cpyVM.form.liceNo"
                   component-id="addRelatedPsnCtrl-cpyLiceNo"
                   items-method="addRelatedPsnCtrl.autoDomClick(query, componentId)"
                   item-view-value-key="cardNo"
                   cust-type="custType"
                   cust-name="custName"
                   phone-no="phoneNo"
                   card-no="cardNo"
                   cust-no="custNo"
                   more-record="moreRecord"
                   confirm-button-clicked-method="addRelatedPsnCtrl.confirmClick(callback)"
                   more-record-button-clicked-method="addRelatedPsnCtrl.autoDomClick(query, componentId, isFetchMore)"
                   jn-lice-no/>
        </ion-item>
        <ion-item class="item-input">
            <span class="input-label">手机</span>
            <input type="tel"
                   placeholder="请输入手机号码"
                   name="mobPhone"
                   ng-model="addRelatedPsnCtrl.cpyVM.form.mobPhone"
                   ng-readonly="addRelatedPsnCtrl.isReadOnly"
                   jn-mobile/>
        </ion-item>
        <ion-item class="item-input">
            <span class="input-label">固定电话</span>
            <input type="tel"
                   placeholder="请输入固定电话"
                   name="fixPhone"
                   ng-model="addRelatedPsnCtrl.cpyVM.form.fixPhone"
                   ng-readonly="addRelatedPsnCtrl.isReadOnly"
                   jn-phone/>
        </ion-item>
        <ion-item class="item-input">
            <span class="input-label">电子邮箱</span>
            <input type="email"
                   placeholder="请输入电子邮箱"
                   name="email"
                   ng-model="addRelatedPsnCtrl.cpyVM.form.email"
                   ng-readonly="addRelatedPsnCtrl.isReadOnly"
                   jn-email/>
        </ion-item>
        <ion-item class="item-input">
            <span class="input-label">联系人</span>
            <input type="text"
                   placeholder="请输入联系人姓名"
                   name="contacter"
                   ng-model="addRelatedPsnCtrl.cpyVM.form.contacter"
                   ng-readonly="addRelatedPsnCtrl.isReadOnly"
                   jn-input-length="60"/>
        </ion-item>
        <ion-item class="item-input">
            <span class="input-label">联系地址</span>
            <input type="text"
                   placeholder="请输入联系地址"
                   name="contactAddr"
                   ng-model="addRelatedPsnCtrl.cpyVM.form.contactAddr"
                   ng-readonly="addRelatedPsnCtrl.isReadOnly"
                   jn-input-length="200"/>
        </ion-item>

        <ion-item class="item-icon-right jn-toggle-item"
                  ng-click="addRelatedPsnCtrl.toggleItem('pDetail')"
                  ng-class="{'item-divider':addRelatedPsnCtrl.checked.pDetail}"
                  ng-model='addRelatedPsnCtrl.checked.pDetail'>
            <span>更多信息</span>
            <i class="icon"
               ng-class="{true:'ion-ios-arrow-up',false:'ion-ios-arrow-down'}[addRelatedPsnCtrl.checked.pDetail]"></i>
        </ion-item>
        <div ng-show="addRelatedPsnCtrl.checked.pDetail && addRelatedPsnCtrl.form.custType == '1'">
            <ion-item class="item-input item-select">
                <span class="input-label">组织形式</span>
                <select name="orgForm"
                        ng-model="addRelatedPsnCtrl.cpyVM.form.orgForm"
                        ng-disabled="addRelatedPsnCtrl.isReadOnly">
                    <option value="">-- 请选择 --</option>
                    <option value="1">个体经营</option>
                    <option value="2">法律实战</option>
                </select>
            </ion-item>
            <ion-item class="item-input item-select">
                <span class="input-label">法律实体类型</span>
                <select name="orgType"
                        ng-model="addRelatedPsnCtrl.cpyVM.form.orgType"
                        ng-disabled="addRelatedPsnCtrl.isReadOnly"
                        jn-options="5014">
                </select>
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">贷款卡编号</span>
                <input type="text"
                       placeholder="请输入贷款卡编号"
                       name="loanCard"
                       ng-model="addRelatedPsnCtrl.cpyVM.form.loanCard"
                       ng-readonly="addRelatedPsnCtrl.isReadOnly"
                       ng-minlength="16"
                       jn-input-length="30"/>
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">主营业务</span>
                <input type="text"
                       placeholder="请输入主营业务"
                       name="mainBusiness"
                       ng-model="addRelatedPsnCtrl.cpyVM.form.mainBusiness"
                       ng-readonly="addRelatedPsnCtrl.isReadOnly"
                       jn-input-length="100"/>
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">所属行业</span>
                <jn-select-intrade
                    name="inTradeName"
                    ng-model="addRelatedPsnCtrl.cpyVM.form.inTrade"
                    ng-readonly="addRelatedPsnCtrl.isReadOnly"
                    label="addRelatedPsnCtrl.cpyVM.form.inTradeName"
                    placeholder="请点击选择所属行业">
                </jn-select-intrade>
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">业务开始时间/注册时间</span>
                <input type="date"
                       placeholder="请输入业务开始时间/注册时间"
                       name="businessStartDt"
                       ng-model="addRelatedPsnCtrl.cpyVM.form.businessStartDt"
                       ng-readonly="addRelatedPsnCtrl.isReadOnly"
                       format-date/>
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">营业时间</span>
                <input type="text"
                       placeholder="请输入营业时间"
                       name="businessHours"
                       ng-model="addRelatedPsnCtrl.cpyVM.form.businessHours"
                       ng-readonly="addRelatedPsnCtrl.isReadOnly"
                       jn-input-length="100"/>
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">雇员数量</span>
                <input type="number"
                       placeholder="请输入雇员数量"
                       name="employeeNum"
                       ng-model="addRelatedPsnCtrl.cpyVM.form.employeeNum"
                       ng-readonly="addRelatedPsnCtrl.isReadOnly"
                       min="0"
                       jn-input-length="16"/>
            </ion-item>
            <ion-item class="item-input item-select">
                <span class="input-label">经营场所</span>
                <select name="addressType"
                        ng-model="addRelatedPsnCtrl.cpyVM.form.addressType"
                        ng-disabled="addRelatedPsnCtrl.isReadOnly">
                    <option value="">--请选择--</option>
                    <option value="1">自有</option>
                    <option value="2">租赁</option>
                    <option value="4">其他</option>
                </select>
            </ion-item>
            <ion-item class="item-input" ng-if="addRelatedPsnCtrl.cpyVM.form.addressType==4">
                <span class="input-label"></span>
                <input type="text"
                       placeholder="请输入其他经营场所"
                       name="addressTypeotherDesc"
                       ng-model="addRelatedPsnCtrl.cpyVM.form.addressTypeotherDesc"
                       ng-readonly="addRelatedPsnCtrl.isReadOnly"
                       jn-input-length="100"/>
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">场所面积(m2)</span>
                <input type="number"
                       placeholder="请输入经营场所面积"
                       name="addressArea"
                       ng-model="addRelatedPsnCtrl.cpyVM.form.addressArea"
                       ng-readonly="addRelatedPsnCtrl.isReadOnly"
                       min="0"
                       max="9999999999999"/>
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">注册资本(元)</span>
                <input type="number"
                       placeholder="请输入注册资本"
                       name="regFund"
                       ng-model="addRelatedPsnCtrl.cpyVM.form.regFund"
                       ng-readonly="addRelatedPsnCtrl.isReadOnly"
                       min="0"/>
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">净资产(元)</span>
                <input type="number"
                       placeholder="请输入净资产"
                       name="businessAsset"
                       ng-model="addRelatedPsnCtrl.cpyVM.form.businessAsset"
                       ng-readonly="addRelatedPsnCtrl.isReadOnly"
                       min="0"/>
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">注册地址</span>
                <input type="text"
                       placeholder="请输入注册地址"
                       name="regAddr"
                       ng-model="addRelatedPsnCtrl.cpyVM.form.regAddr"
                       ng-readonly="addRelatedPsnCtrl.isReadOnly"
                       jn-input-length="200"/>
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">实际经营地址</span>
                <input type="text"
                       placeholder="请输入实际经营地址"
                       name="address"
                       ng-model="addRelatedPsnCtrl.cpyVM.form.address"
                       ng-readonly="addRelatedPsnCtrl.isReadOnly"
                       jn-input-length="200"/>
            </ion-item>
            <ion-item class='item-input'>
                  <span class='input-label'>其他说明</span>
                  <textarea name='remark2'
                            style="resize: none;width: initial;margin-right:24px;"
                            rows='4'
                            cols="32"
                            ng-model='addRelatedPsnCtrl.cpyVM.form.remark'
                            ng-readonly="addRelatedPsnCtrl.isReadOnly"
                            jn-input-length="500" >
                  </textarea>
            </ion-item>
            <ion-item class="item-divider"></ion-item>
            <ion-item class="item-icon-right"
                      ng-click="addRelatedPsnCtrl.cpyVM.goCorporation()">
                <span>法人代表</span>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </div>
    </form>
</div>
