<ion-view view-title="联系人修改">
    <ion-nav-buttons side="left">
        <jn-back></jn-back>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <button
             class="button button-clear"
             ng-click="ctrl.submit()"
        >保存</button>
    </ion-nav-buttons>
    <ion-content>
        <form name="ctrl.editForm" jn-edit-form>
            <ion-list>
                <input
                    type="hidden"
                    name="custNo"
                    ng-model="ctrl.form.custNo"
                />
                <ion-item class="item-input">
                    <span class="input-label required">客户名称</span>
                    <input
                        type="text"
                        ng-model="ctrl.form.custName"
                        disabled
                    />
                </ion-item>
                <ion-item class="item-input">
                    <span class="input-label">证件号码</span>
                    <input
                        type="text"
                        ng-model="ctrl.form.paperNo"
                        disabled
                    />
                </ion-item>
                <ion-item class="item-input">
                    <span class="input-label required">联系方式</span>
                    <input
                        type="tel"
                        name="phoneNo"
                        ng-model="ctrl.form.phoneNo"
                        required
                        jn-mobile
                        placeholder="请输入手机号码"
                    />
                </ion-item>
                <ion-item class="item-input">
                    <span class="input-label">与客户关系</span>
                    <jn-multi-select
                        name="linkType"
                        options="ctrl.linkTypeOptions"
                        always-selected="25"
                        ng-model="ctrl.form.linkType"
                        placeholder="请选择与客户关系"
                    ></jn-multi-select>
                </ion-item>
                <ion-item class="item-input">
                    <span class="input-label">工作单位</span>
                    <input
                     type="text"
                     name="workUnit"
                     ng-model="ctrl.form.workUnit"
                     placeholder="请输入工作单位" />
                </ion-item>
                <ion-item class="item-input">
                    <span class="input-label">联系地址</span>
                    <input
                     type="text"
                     name="custAddr"
                     ng-model="ctrl.form.custAddr"
                     placeholder="请输入联系地址" />
                </ion-item>
            </ion-list>
        </form>
    </ion-content>
</ion-view>
