<ion-modal-view id="crdtLoanModal">
    <div class="bar bar-header bar-positive">
        <button class="button button-clear" ng-click="loanBaseInfoCtrl.crdtLoanModalConf.hideCrdtLoanModal();">取消</button>
        <h1 class="title">请选择授信贷款</h1>
        <button class="button button-clear" ng-click="loanBaseInfoCtrl.crdtLoanModalConf.confirmCrdtLoan();">确定</button>
    </div>
    <ion-content class="has-header crdtListItem" 
    	id="crdtLoanModal" scroll="false" style="overflow-x: hidden; overflow-y:visible;-webkit-overflow-scrolling:touch">
    	<div class="bar bar-header item-input-inset" style="background-image:none">
            <label class="item-input-wrapper"> 
            <i class="icon  ion-ios-search-strong placeholder-icon"></i>
                <input type="search" placeholder="输入客户名称搜索" ng-model="loanBaseInfoCtrl.crdtLoanModalConf.keywords" 
                ng-change="loanBaseInfoCtrl.crdtLoanModalConf.search()">
            </label>
        </div>
        <ion-list ng-show="0 < loanBaseInfoCtrl.crdtLoanModalConf.creditList.items.length">
            <ion-item ng-repeat="e in loanBaseInfoCtrl.crdtLoanModalConf.creditList.items" 
            	ng-click="loanBaseInfoCtrl.crdtLoanModalConf.chooseCrdtLoan(e,$index)"
            	ng-class="{'jn-item-selected': loanBaseInfoCtrl.crdtLoanModalConf.isItemSelected(e.loanNo)}">
                <div class="jn-item-title jn-name" cust-type="{{e.custType}}">
	                	<span>{{ e.custName }}</span>
                </div>
                <div class="compact">
               		<label>借据号</label><span class="content">{{ e.loanNo }}</span>
                </div>
                <div class="compact"><label>申请金额</label><span class="content">{{ e.applAmt | jnCurrency}}</span></div>
                <div class="compact"><label>申请日期</label><span class="content">{{ e.applDt | jnDate}}</span></div>
            </ion-item>
        </ion-list>
        <div ng-show="0 === loanBaseInfoCtrl.crdtLoanModalConf.creditList.items.length" class="no_record">暂无符合用信要求的授信</div>
         <button ng-click="loanBaseInfoCtrl.crdtLoanModalConf.more()"
            ng-show="loanBaseInfoCtrl.crdtLoanModalConf.creditList.items.length <  loanBaseInfoCtrl.crdtLoanModalConf.creditList.total"
            class="button button-clear button-full button-positive">
	            点击加载更多
	    </button>
    </ion-content>
</ion-modal-view>
