<ion-view view-title="管户历史" id="assignHistory">
    <ion-nav-buttons side="left">
        <jn-back></jn-back>
    </ion-nav-buttons>
    <ion-content >
      <ion-list >
            <ion-item ng-repeat="e in ctrl.list.items" style="white-space:normal;font-size:14px;">
            	<div>{{ e.asgnTime |jnDate }}</div>
            	 <div style="max-width: 100%">
	                        <span>操作员<strong >{{e.operNo}}</strong>将<strong >{{e.bfCustManagerName }}</strong>名下的客户<strong style="color: #007aff;">{{e.custName}}</strong>{{e.asgnType=='1' ? '分配给':'移交给'}}<strong>{{e.afCustManagerName}}</strong></span>
	             </div>
                <div ng-if="e.remark">备注：{{ e.remark }}</div>
            
            </ion-item>
        </ion-list>
        <div
            ng-show="0 === ctrl.list.items.length"
            class="no_record"
        >暂无记录</div>
        <button
            ng-click="ctrl.more()"
            ng-show="ctrl.list.items.length < ctrl.list.total"
            class="button button-clear button-full button-positive"
        >点击加载更多</button>
    </ion-content>
</ion-view>
