<ion-view view-title="黑名单操作历史" id="blackOperateHistory">
    <ion-nav-buttons side="left">
        <jn-back></jn-back>
    </ion-nav-buttons>
    <ion-content>
      <ion-list>
            <ion-item class="item-icon-right" ng-repeat="e in ctrl.list.items">
                 <div >
                   <label class="label" style="font-weight:bold"> 客户名称：</label>
	               	 <span class="content" style="font-weight:bold"> {{custName}}</span>
                  </div>
                 <div >
                   <label class="label"> 加入日期：</label>
	               	 <span class="content"> {{e.addDt|jnDate}}</span>
                  </div>
                 <div >
                   <label class="label"> 加入原因：</label>
	               	 <span class="content"> {{e.addDesc}}</span>
                  </div>
                   <i 
                class="icon arrow-size ion-ios-arrow-{{e.expandFlag==='1'?'up':'down'}} " 
               ng-click="ctrl.toggleItem($index)"
               style=" position: absolute; right: -10px;;top: 0;width: 50px;height: 50px;font-size: 22px;"></i>
                 <div ng-if="e.expandFlag==='1'">
	                 <div >
	                   <label class="label"> 解除日期：</label>
		               	 <span class="content"> {{e.remDt|jnDate}}</span>
	                  </div>
	                 <div >
	                   <label class="label"> 解除原因：</label>
		               	 <span class="content"> {{e.remDesc}}</span>
	                  </div>
	                 <div >
	                   <label class="label"> 客户经理：</label>
		               	 <span class="content jn-item-title"> {{e.custManagerName}}</span>
	                  </div>
	                 <div >
	                   <label class="label"> 操作类型：</label>
		               	 <span class="content jn-item-title"> {{e.classifyType|jnConstant:6075}}</span>
	                  </div>
	                 <div >
	                   <label class="label"> 黑名单类型：</label>
		               	 <span class="content jn-item-title"> {{e.bType|jnConstant:5049}}</span>
	                  </div>
                 </div>
            </ion-item>
        </ion-list>
        <div
            ng-show="0 === ctrl.list.items.length"
            class="no_record"
        >暂无记录</div>
        <button
            ng-click="ctrl.more()"
            ng-show="ctrl.list.items.length < ctrl.list.total"
            class="button button-clear button-full button-positive"
        >点击加载更多</button>
    </ion-content>
</ion-view>
