<ion-view view-title="关联人">
    <ion-nav-buttons side="left">
        <jn-back></jn-back>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
         <button
             class="button button-clear icon ion-navicon"
             ng-if="'1' === ctrl.editable"
             ng-click="ctrl.showTitleMenu()"
         ></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list
            ng-if="0 < ctrl.list.items.length"
        >
            <ion-item
                ng-repeat="e in ctrl.list.items"
                ng-click="ctrl.view(e)"
                style="font-size: 14px;"
            >
                <div
                    style="overflow: hidden; text-overflow: ellipsis;"
                >
                    <i
                        class="ion-android-person positive"
                        ng-if="'0' === e.custType"
                    ></i>
                    <i
                        class="ion-home positive"
                        ng-if="'1' === e.custType"
                    ></i>
                    <b>{{ e.custName }}</b>
                    [{{ e.linkTypeName }}]
                </div>
                <div
                    ng-if="e.paperNo"
                >
                    <i class="ion-card positive"></i>
                    {{ e.paperNo }}
                </div>
                <div
                    ng-if="e.phoneNo"
                ><jn-tel-no num="{{ e.phoneNo }}"></jn-tel-no></div>
                <ion-option-button
                    ng-if="'1' === ctrl.editable"
                    class="button-assertive"
                    ng-click="ctrl.remove(e, $event)"
                >删除</ion-option-button>
            </ion-item>
        </ion-list>
        <div
            ng-if="0 === ctrl.list.items.length"
            class="no_record"
        >暂无记录</div>
        <button
            ng-click="ctrl.more()"
            ng-if="ctrl.list.items.length < ctrl.list.total"
            class="button button-clear button-full button-positive"
        >点击加载更多</button>
    </ion-content>
</ion-view>
